@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";

body{
  margin-top: 40px;
}

#content{
  font-size: 1.4em;
  color: gray;
}
